scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/kansai
        create path (nt:unstructured) /content/dam/kansai/jcr:content
        set properties on /content/dam/kansai/jcr:content
        set cq:conf{String} to /conf/kansai
        set jcr:title{String} to \"Kansai\"
        end
        "
]
